body {
	min-width: 1200px
}

.body-wrap {
	overflow: hidden
}

.header-wrap.okex {
	width: 100%;
	background-image: -webkit-gradient(linear, left top, right top, from(#041636), to(#0b2758));
	background-image: -webkit-linear-gradient(left, #041636, #0b2758);
	background-image: -o-linear-gradient(left, #041636, #0b2758);
	background-image: linear-gradient(to right, #041636, #0b2758);
	-webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .05);
	box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .05)
}

.header-wrap.okex .header-nav {
	height: 30px;
	line-height: 30px;
	width: 100%;
	position: relative;
	-webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .05);
	box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .05)
}

.header-wrap.okex .header-nav .icon-spread {
	font-size: 20px;
	margin-left: 4px;
	transform: rotate(0) scale(.65);
	-ms-transform: rotate(0) scale(.65);
	-moz-transform: rotate(0) scale(.65);
	-webkit-transform: rotate(0) scale(.65);
	-o-transform: rotate(0) scale(.65);
	display: inline-block;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-nav .drop-down-list {
	padding: 8px 0;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	position: absolute;
	top: 29px;
	z-index: 1000000;
	display: none
}

.header-wrap.okex .header-nav .drop-down-list .item {
	height: 32px;
	line-height: 32px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: #666;
	padding: 0 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
	position: relative
}

.header-wrap.okex .header-nav .drop-down-list .item .text {
	height: 32px;
	line-height: 32px;
	display: inline-block
}

.header-wrap.okex .header-nav .drop-down-list .item:hover {
	color: #5795f1;
	background-color: #f1f5ff
}

.header-wrap.okex .header-nav .drop-down-list .item .qr-code {
	position: absolute;
	width: 172px;
	height: 174px;
	background: #fff;
	-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	border-radius: 4px;
	left: -172px;
	top: 0;
	display: none
}

.header-wrap.okex .header-nav .drop-down-list .item .qr-code .qr-img-box {
	width: 80px;
	height: 80px;
	margin: 16px 46px 8px
}

.header-wrap.okex .header-nav .drop-down-list .item .qr-code .qr-img-box .qr-img {
	width: 100%;
	height: 100%
}

.header-wrap.okex .header-nav .drop-down-list .item .qr-code .qr-desc {
	width: 140px;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	padding: 0 16px 16px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal
}

.header-wrap.okex .header-nav .drop-down-list .item-weixin:hover .qr-code {
	display: block
}

.header-wrap.okex .header-nav .box {
	width: 1180px;
	margin: 0 auto;
	position: relative
}

.header-wrap.okex .header-nav .box .about-us,
.header-wrap.okex .header-nav .box .download-app,
.header-wrap.okex .header-nav .box .language-box,
.header-wrap.okex .header-nav .box .notice,
.header-wrap.okex .header-nav .box .switch-site {
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: rgba(255, 255, 255, .43);
	cursor: pointer;
	margin-right: 40px;
	display: inline-block;
	position: relative
}

.header-wrap.okex .header-nav .box .about-us:hover .drop-down-list,
.header-wrap.okex .header-nav .box .download-app:hover .drop-down-list,
.header-wrap.okex .header-nav .box .language-box:hover .drop-down-list,
.header-wrap.okex .header-nav .box .notice:hover .drop-down-list,
.header-wrap.okex .header-nav .box .switch-site:hover .drop-down-list {
	display: block
}

.header-wrap.okex .header-nav .box .about-us:hover .icon-spread,
.header-wrap.okex .header-nav .box .download-app:hover .icon-spread,
.header-wrap.okex .header-nav .box .language-box:hover .icon-spread,
.header-wrap.okex .header-nav .box .notice:hover .icon-spread,
.header-wrap.okex .header-nav .box .switch-site:hover .icon-spread {
	-webkit-transform: rotate(-180deg) scale(.65);
	-ms-transform: rotate(-180deg) scale(.65);
	transform: rotate(-180deg) scale(.65)
}

.header-wrap.okex .header-nav .box .rigth-link {
	height: 30px;
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0
}

.header-wrap.okex .header-nav .box .about-us,
.header-wrap.okex .header-nav .box .download-app,
.header-wrap.okex .header-nav .box .language-box,
.header-wrap.okex .header-nav .box .notice {
	margin-right: 24px;
	top: -10px
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list,
.header-wrap.okex .header-nav .box .download-app .drop-down-list,
.header-wrap.okex .header-nav .box .language-box .drop-down-list,
.header-wrap.okex .header-nav .box .notice .drop-down-list {
	right: 0
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list .item,
.header-wrap.okex .header-nav .box .download-app .drop-down-list .item,
.header-wrap.okex .header-nav .box .language-box .drop-down-list .item,
.header-wrap.okex .header-nav .box .notice .drop-down-list .item {
	text-align: left
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list .download-box,
.header-wrap.okex .header-nav .box .download-app .drop-down-list .download-box,
.header-wrap.okex .header-nav .box .language-box .drop-down-list .download-box,
.header-wrap.okex .header-nav .box .notice .drop-down-list .download-box {
	white-space: nowrap;
	padding: 0 17px
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list .download-box .text,
.header-wrap.okex .header-nav .box .download-app .drop-down-list .download-box .text,
.header-wrap.okex .header-nav .box .language-box .drop-down-list .download-box .text,
.header-wrap.okex .header-nav .box .notice .drop-down-list .download-box .text {
	height: 18px;
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
	color: #666
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list .download-box .qr-box,
.header-wrap.okex .header-nav .box .download-app .drop-down-list .download-box .qr-box,
.header-wrap.okex .header-nav .box .language-box .drop-down-list .download-box .qr-box,
.header-wrap.okex .header-nav .box .notice .drop-down-list .download-box .qr-box {
	display: inline-block;
	vertical-align: top
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list .download-box .qr-box .qr-code-img,
.header-wrap.okex .header-nav .box .download-app .drop-down-list .download-box .qr-box .qr-code-img,
.header-wrap.okex .header-nav .box .language-box .drop-down-list .download-box .qr-box .qr-code-img,
.header-wrap.okex .header-nav .box .notice .drop-down-list .download-box .qr-box .qr-code-img {
	width: 85px;
	height: 85px;
	margin-left: -5px;
	margin-top: 3px;
	margin-bottom: -5px;
	display: inline-block
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list .download-box .qr-box .to-beta,
.header-wrap.okex .header-nav .box .download-app .drop-down-list .download-box .qr-box .to-beta,
.header-wrap.okex .header-nav .box .language-box .drop-down-list .download-box .qr-box .to-beta,
.header-wrap.okex .header-nav .box .notice .drop-down-list .download-box .qr-box .to-beta {
	height: 15px;
	font-size: 10px;
	margin-top: 11px;
	line-height: 1.5;
	text-align: left;
	color: #3075ee
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list .download-box .pc-box,
.header-wrap.okex .header-nav .box .download-app .drop-down-list .download-box .pc-box,
.header-wrap.okex .header-nav .box .language-box .drop-down-list .download-box .pc-box,
.header-wrap.okex .header-nav .box .notice .drop-down-list .download-box .pc-box {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	color: #fff;
	white-space: normal
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list .download-box .pc-box .download-btn,
.header-wrap.okex .header-nav .box .download-app .drop-down-list .download-box .pc-box .download-btn,
.header-wrap.okex .header-nav .box .language-box .drop-down-list .download-box .pc-box .download-btn,
.header-wrap.okex .header-nav .box .notice .drop-down-list .download-box .pc-box .download-btn {
	text-align: center;
	min-width: 140px;
	height: 32px;
	border-radius: 4px;
	background-color: #3075ee;
	display: inline-block;
	color: #fff;
	margin-top: 8px;
	padding: 0 8px
}

.header-wrap.okex .header-nav .box .about-us .drop-down-list .download-box .pc-box .download-btn .icon,
.header-wrap.okex .header-nav .box .download-app .drop-down-list .download-box .pc-box .download-btn .icon,
.header-wrap.okex .header-nav .box .language-box .drop-down-list .download-box .pc-box .download-btn .icon,
.header-wrap.okex .header-nav .box .notice .drop-down-list .download-box .pc-box .download-btn .icon {
	font-size: 14px;
	display: inline-block;
	margin-right: 5px
}

.header-wrap.okex .header-nav .box .about-us .icon-about-us,
.header-wrap.okex .header-nav .box .download-app .icon-about-us,
.header-wrap.okex .header-nav .box .language-box .icon-about-us,
.header-wrap.okex .header-nav .box .notice .icon-about-us {
	color: #9aa8b7;
	margin-right: 7px
}

.header-wrap.okex .header-nav .box .notice {
	margin: 0;
	padding: 0 0 0 10px
}

.header-wrap.okex .header-nav .box .notice .notice-icon-box {
	position: relative
}

.header-wrap.okex .header-nav .box .notice .notice-icon-box .icon-notice {
	font-size: 13px
}

.header-wrap.okex .header-nav .box .notice .notice-icon-box .notice-new {
	background-color: #ff6e00;
	width: 6px;
	height: 6px;
	border-radius: 100px;
	display: inline-block;
	position: absolute;
	right: -1px;
	top: -2px
}

.header-wrap.okex .header-nav .box .notice .notice-box {
	padding: 0 16px;
	width: 360px
}

.header-wrap.okex .header-nav .box .notice .notice-box .notice-title {
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	text-align: left;
	color: #a0aabe;
	border-bottom: 1px solid #e9e9e9
}

.header-wrap.okex .header-nav .box .notice .notice-box .notice-item {
	border-bottom: 1px solid #e9e9e9;
	padding: 8px 0;
	display: inline-block;
	width: 100%
}

.header-wrap.okex .header-nav .box .notice .notice-box .notice-item .item-title {
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
	color: #000
}

.header-wrap.okex .header-nav .box .notice .notice-box .notice-item .item-date {
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
	color: #a0aabe
}

.header-wrap.okex .header-nav .box .notice .notice-box .notice-more {
	margin-top: 8px;
	line-height: 30px;
	font-size: 12px;
	color: #5795f1;
	text-align: center;
	display: inline-block;
	width: 100%
}

.header-wrap.okex .header-nav .box .language-box {
	width: 40px;
	margin-right: 20px;
	top: 0
}

.header-wrap.okex .header-nav .box .language-box .language svg {
	margin-left: 0!important;
	margin-top: 5px!important
}

.header-wrap.okex .header-nav .box .language-box .language i.icon {
	position: absolute;
	right: 0
}

.header-wrap.okex .header-nav .box .language-box .language-list {
	min-width: 120px;
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 9999;
	display: none;
	padding: 8px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15)
}

.header-wrap.okex .header-nav .box .language-box .language-list .language {
	height: 32px;
	line-height: 32px;
	background-color: #fff;
	color: #666
}

.header-wrap.okex .header-nav .box .language-box .language-list .language svg {
	margin-top: 5px!important;
	margin-left: 8px!important
}

.header-wrap.okex .header-nav .box .language-box .language-list .language .text {
	margin-left: 32px
}

.header-wrap.okex .header-nav .box .language-box .language-list .language:hover {
	color: #5795f1;
	background-color: #f1f5ff
}

.header-wrap.okex .header-nav .box .more-list .more-link {
	height: 18px;
	font-size: 12px;
	line-height: 1.5;
	color: rgba(255, 255, 255, .43)
}

.header-wrap.okex .header-nav .box .more-list .more-link:hover {
	color: #fff;
	opacity: 1
}

.header-wrap.okex .header-nav .box .more-list .more-link+.more-link {
	margin-left: 14px
}

.header-wrap.okex .header-main {
	width: 1180px;
	margin: 0 auto;
	position: relative;
	height: 60px;
	line-height: 60px
}

.header-wrap.okex .header-main .logo-wrap {
	width: 102px;
	display: block;
	text-align: left;
	color: #666;
	height: 60px;
	position: absolute;
	overflow: hidden
}

.header-wrap.okex .header-main .nav-wrap {
	position: absolute;
	top: 0;
	left: 150px;
	text-align: center;
	width: 660px;
	height: 100%
}

.header-wrap.okex .header-main .nav-wrap li {
	float: left;
	padding: 0 22px;
	list-style:none;
}

.header-wrap.okex .header-main .nav-wrap li .user-arrow {
	display: inline-block;
	color: #fff;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .nav-wrap li .user-info-extend {
	width: auto;
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	padding: 8px 0;
	position: absolute;
	top: 54px;
	right: 10px;
	left: auto;
	z-index: 1000000;
	display: none
}

.header-wrap.okex .header-main .nav-wrap li .user-info-extend a {
	width: auto;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: left;
	color: #666;
	font-size: 16px;
	padding: 0 24px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap
}

.header-wrap.okex .header-main .nav-wrap li .user-info-extend a.active,
.header-wrap.okex .header-main .nav-wrap li .user-info-extend a:hover {
	height: 40px;
	background: #f1f5ff;
	border: none
}

.header-wrap.okex .header-main .nav-wrap li a {
	color: #FFF;
	display: inline-block;
	line-height: 60px;
	font-size: 16px
}

.header-wrap.okex .header-main .nav-wrap li a:hover {
	color: #5795F1;
	height: 57px
}

.header-wrap.okex .header-main .nav-wrap li a.active {
	color: #5795F1;
	height: 57px;
	border-bottom: 3px solid #5795F1
}

.header-wrap.okex .header-main .nav-wrap li .tab {
	color: #FFF;
	display: inline-block;
	line-height: 60px;
	font-size: 16px;
	cursor: pointer
}

.header-wrap.okex .header-main .nav-wrap li:nth-child(5):hover .user-info-extend,
.header-wrap.okex .header-main .nav-wrap li:nth-child(6):hover .user-info-extend {
	display: block
}

.header-wrap.okex .header-main .nav-wrap li .tab:hover {
	height: 57px
}

.header-wrap.okex .header-main .nav-wrap li:nth-child(5):hover .user-arrow {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .nav-wrap li:nth-child(6):hover .user-arrow {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .nav-wrap .nav-wrap-more {
	position: relative;
	cursor: pointer
}

.header-wrap.okex .header-main .nav-wrap .nav-wrap-more .more {
	color: #fff;
	height: 60px;
	line-height: 60px;
	font-size: 16px
}

.header-wrap.okex .header-main .nav-wrap .nav-wrap-more .arrow {
	display: inline-block;
	color: #fff;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .nav-wrap .nav-wrap-more .arrow .icon-Unfold {
	margin: 4px
}

.header-wrap.okex .header-main .nav-wrap .nav-wrap-more .active {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .nav-wrap .nav-wrap-more:hover span {
	color: #5795F1
}

.header-wrap.okex .header-main .drop-down-list {
	min-width: 114px;
	padding: 8px 0;
	border-radius: 4px;
	background: #fff;
	-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	position: absolute;
	top: 56px;
	left: -14px;
	z-index: 1000000
}

.header-wrap.okex .header-main .drop-down-list .link {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #666;
	font-size: 16px;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.header-wrap.okex .header-main .drop-down-list .link.active,
.header-wrap.okex .header-main .drop-down-list .link:hover {
	color: #5795F1;
	height: 40px;
	background: #f1f5ff;
	border: none
}

.header-wrap.okex .header-main .upload-link {
	position: absolute;
	top: 0;
	right: 140px;
	padding-left: 38px;
	text-align: right;
	color: #5e5e5e
}

.header-wrap.okex .header-main .upload-link:before {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -14px;
	width: 28px;
	height: 28px;
	background: url(/static/i/upload.png) no-repeat;
	background-size: contain
}

.header-wrap.okex .header-main .balance-wrap,
.header-wrap.okex .header-main .user-wrap {
	position: relative;
	float: right;
	text-align: right;
	cursor: pointer
}

.header-wrap.okex .header-main .balance-wrap .user-balance,
.header-wrap.okex .header-main .balance-wrap .user-info,
.header-wrap.okex .header-main .user-wrap .user-balance,
.header-wrap.okex .header-main .user-wrap .user-info {
	color: #fff;
	font-size: 14px;
	float: left;
	margin-right: 8px;
	height: 60px;
	line-height: 60px
}

.header-wrap.okex .header-main .balance-wrap .user-balance:hover,
.header-wrap.okex .header-main .user-wrap .user-balance:hover {
	color: #5795F1
}

.header-wrap.okex .header-main .balance-wrap .user-arrow,
.header-wrap.okex .header-main .user-wrap .user-arrow {
	display: inline-block;
	color: #fff;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .balance-wrap .active,
.header-wrap.okex .header-main .user-wrap .active {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .balance-wrap .user-info-extend,
.header-wrap.okex .header-main .user-wrap .user-info-extend {
	width: auto;
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15);
	padding: 8px 0;
	position: absolute;
	top: 54px;
	right: 0;
	left: auto;
	z-index: 1000000;
	display: none
}

.header-wrap.okex .header-main .balance-wrap .user-info-extend div,
.header-wrap.okex .header-main .user-wrap .user-info-extend div {
	padding: 8px 0;
	margin: 8px 0 0;
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9
}

.header-wrap.okex .header-main .balance-wrap .user-info-extend div a,
.header-wrap.okex .header-main .user-wrap .user-info-extend div a {
	color: #5795F1
}

.header-wrap.okex .header-main .balance-wrap .user-info-extend .logout,
.header-wrap.okex .header-main .balance-wrap .user-info-extend a,
.header-wrap.okex .header-main .user-wrap .user-info-extend .logout,
.header-wrap.okex .header-main .user-wrap .user-info-extend a {
	width: auto;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: left;
	color: #666;
	font-size: 16px;
	padding: 0 24px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap
}

.header-wrap.okex .header-main .balance-wrap .user-info-extend .logout.active,
.header-wrap.okex .header-main .balance-wrap .user-info-extend .logout:hover,
.header-wrap.okex .header-main .balance-wrap .user-info-extend a.active,
.header-wrap.okex .header-main .balance-wrap .user-info-extend a:hover,
.header-wrap.okex .header-main .user-wrap .user-info-extend .logout.active,
.header-wrap.okex .header-main .user-wrap .user-info-extend .logout:hover,
.header-wrap.okex .header-main .user-wrap .user-info-extend a.active,
.header-wrap.okex .header-main .user-wrap .user-info-extend a:hover {
	height: 40px;
	background: #f1f5ff;
	border: none
}

.header-wrap.okex .header-main .balance-wrap .user-info-extend .logout,
.header-wrap.okex .header-main .user-wrap .user-info-extend .logout {
	margin-top: 0
}

.header-wrap.okex .header-main .balance-wrap:hover .user-arrow,
.header-wrap.okex .header-main .user-wrap:hover .user-arrow {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .balance-wrap:hover .user-info-extend,
.header-wrap.okex .header-main .user-wrap:hover .user-info-extend {
	display: block
}

.header-wrap.okex .header-main .balance-wrap {
	margin-right: 25px
}

.header-wrap.okex .header-main .balance-wrap .user-info-extend a.active,
.header-wrap.okex .header-main .balance-wrap .user-info-extend a:hover {
	color: #5795F1
}

.header-wrap.okex .header-main .user-no-login {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right
}

.header-wrap.okex .header-main .user-no-login .user-login {
	float: right;
	color: #FFF;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	margin-right: 32px
}

.header-wrap.okex .header-main .user-no-login .user-login:hover {
	color: #5795F1
}

.header-wrap.okex .header-main .user-no-login .user-register {
	float: right;
	height: 32px;
	min-width: 50px;
	border-radius: 18px;
	line-height: 32px;
	background-color: #3e5173;
	font-size: 14px;
	color: #fff;
	margin-top: 14px;
	text-align: center;
	padding: 0 16px
}

.header-wrap.okex .header-main .user-no-login .user-register.active,
.header-wrap.okex .header-main .user-no-login .user-register:hover {
	background: #3075ef
}

.header-wrap.okex .header-main .user-no-login .site {
	float: right;
	height: 60px;
	line-height: 60px;
	margin-right: 32px;
	font-size: 14px;
	text-align: right;
	color: rgba(255, 255, 255, .43);
	position: relative
}

.header-wrap.okex .header-main .user-no-login .site .arrow {
	display: inline-block;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .user-no-login .site .arrow .icon-Unfold {
	margin: 4px
}

.header-wrap.okex .header-main .user-no-login .site .active {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear
}

.header-wrap.okex .header-main .user-no-login .site-list {
	right: 0;
	left: auto
}

.header-wrap.okex .header-main .icon-Unfold {
	font-size: 10px;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	display: inline-block
}

.black-border {
	border-bottom: 1px solid #ebedf0
}



