
ol,
ul {
	list-style: none
}

.navresponsiveimage
{
    width: 176px;
}
.navbar-nav2
{
	padding: 0 !important;
	float: right;
}
.navbar-nav2>li>a
{
	padding-bottom: 0 !important;
}
.displaypropertie
{
	 display: none; 
}

.containerbottom
{
	padding-bottom: 81px;
}
.navbarwhite
{
	background-color: #ffffff !important;
	color: #165FAB;
	margin-bottom: 3px;
    margin-top: 2px;
	min-height: 0 !important;
}

.carousel-indicators1
{
	position: absolute !important;
    bottom: -19px !important;
    left: 50% !important;
   z-index: 15 !important;
    width: 60% !important;
    padding-left: 0 !important;
    margin-left: -30% !important;
    text-align: center !important;
    list-style: none !important;
}
.carousel-indicators1 li
{
	display: inline-block !important;
    width: 10px !important;
    height: 10px !important;
    margin: 1px !important;
    text-indent: -999px !important;
    cursor: pointer;
    
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-inner > .item > img
{
	margin: 0 auto;
}
.logo-item-title1 a
{
	text-decoration: none;
}
.logo-item-title1
{
    margin-top: 24px;
    margin-bottom: 19px;
    color: #165FAB;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}


.fw-section {
	position: relative;
	width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.padding-bottom-2x {
	padding-bottom: 48px;
}
.padding-top-3x {
	padding-top: 72px;
}
.logo-carousel {
	padding-top: 60px;
	padding-bottom: 48px;
	overflow: hidden;
}
.carousel-navs-top-outside {
	padding-top: 48px;
}
.slick-slider {
	display: block;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.logo-carousel .slick-list {
	margin-left: -2px;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track {
	display: block;
	position: relative;
	top: 0;
	left: 0;
}
.slick-track::before, .slick-track::after {
	display: table;
	content: ' ';
}
.logo-carousel .logo-item {
	display: block;
	padding: 12px 14px;
	border-left: 1px solid rgba(83,186,234,0.25);
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}
.slick-initialized .slick-slide {
	display: block;
	outline:0;
}
.slick-slide {
	display: block;
	height: 100%;
	min-height: 1px;
	float: left;
}

.logo-carousel .logo-item>img {
	display: block;
	margin: auto;
}
.slick-slide img {
	display: block;
}
.logo-carousel .logo-item .logo-item-title {
	margin-top: 24px;
	margin-bottom: 0;
	color: #165FAB;
	font-size: 16px;


}
.logo-carousel .slick-dots {
	margin-bottom: 0;
}
.slick-dots {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: -39px;
	list-style: none;
	text-align: center;
}


.logo-carousel {
padding-top: 60px;
padding-bottom: 48px;
overflow: hidden;
}
.carousel-navs-top-outside {
padding-top: 48px;
}
.slick-slider {
display: block;
position: relative;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-ms-touch-action: pan-y;
touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
}
.slick-slider {
display: block;
position: relative;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-ms-touch-action: pan-y;
touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
}
.slick-dots>li {
	display: inline-block;
	margin: 0 6px;
	padding: 0;
	line-height: 8px;
}
.slick-dots>li>button {
	width: 8px;
	height: 8px;
	padding: 0;
	border: 0;
	border-radius: 50%;
	background-color: rgba(83,186,234,0.25);
	text-indent: -9999px;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.slick-dots>li.slick-active>button {
    background-color: #165FAB;
}
.slick-dots>li>button {
    width: 8px;
    height: 8px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: rgba(83,186,234,0.25);
    text-indent: -9999px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.logo-carousel .slick-dots {
    margin-bottom: 0;
}
.slick-dots {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: -39px;
    list-style: none;
    text-align: center;
}
.slick-dots>li {
    display: inline-block;
    margin: 0 6px;
    padding: 0;
    line-height: 8px;
}
.logo-carousel .logo-item .logo-item-description {
	margin-bottom: 0;
	color: gray;
	font-size: 12px;
}
.logo-carousel .logo-item {
	display: block;
	padding: 12px 14px;
	border-left: 1px solid rgba(83,186,234,0.25);
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-slide {
	display: block;
	height: 100%;
	min-height: 1px;
	float: left;
}
.styleing4 {
	margin-bottom: 9px !important;
    font-size: 30px !important;
    font-style: normal;
    font-weight: 500 !important;
    color: #165FAB !important;
}
.styleing3 {
    font-size: 20px !important;
    font-style: normal;
    font-weight: inherit !important;
    color: #165FAB!important;
    margin: 0px 0 33px !important;
}
.so {
    color: #165FAB !important;
    font-size: 39px !important;
    width: 74px !important;
    border: none !important;
}
.so2 {
    color: #165FAB !important;
    font-size: 39px !important;
    width: 74px !important;
    border: none !important;
}
.so3 {
    color: #165FAB !important;
    font-size: 39px !important;
    width: 74px !important;
    border: none !important;
}
.bottom-space{
	margin-top: 40px;
    margin-bottom: 40px;
}
.fa1 {
	font-size: 51px !important;
  
    margin-right: 7px !important;
}
.buttonsty {
    height: 33px !important;
    line-height: 1 !important;
    margin: 12px 12px 12px 46px !important;
    border-radius: 0 !important;
} 
.size-change1 {
    margin-right: 34px;
    width: 47%;

}
.so1 {
    color: #165FAB !important;
    font-size: 39px !important;
    width: 74px !important;
    border: none !important;
}
.so4 {
    color: #165FAB !important;
    font-size: 39px !important;
    width: 74px !important;
    border: none !important;
}

.social-btn {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0 6px 6px 0;
    border: 1px solid rgba(83,186,234,0.15);
    border-radius: 4px;
    background-color: transparent;
    color: #165FAB;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    vertical-align: middle;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.styleing {
	font-size: 20px !important;
    font-style: normal;
    font-weight: inherit !important;
    color: #ffffff99!important;
    margin: 0 0 15px !important;
}
::placeholder {
	color: white;
	opacity: 1; /* Firefox */
  }
  .buttonsty:hover{
	  background-color: white!important;
	  color:black !important;
  }
.aliment {
	padding-left: 28px;
    padding-top: 18px;
    padding-bottom: 36px;
}
.aliment1 {
	padding-left: 28px;
    padding-top: 18px;
    padding-bottom: 47px;
}
.so :hover{
	color: green;
}
.so1:hover{
	color:#0088cc !important;
}
.so2:hover{
color:#0084ff !important;
}
.so3:hover{
	color:#738adb  !important;
	}
	.so4:hover{
		color: #e01563 !important;
		}
.form-control-plaintext
{    width: 29rem;
height: 48px;
margin-bottom: 24px;
padding: 0 12px;
border: none;
outline: 0px;
border-radius: 0 !important;
background-color: #165FAB;
border-bottom: 1px solid white;
color: white !important;
font-size: 18px;
}

/*  */
.homeMainSectionBlock{
	background:#f7f8fa;
	padding: 80px 0;
}


.container-fluid
{
	padding-right: 0px;
    padding-left: 0px;
}
.homeMainSection{
  margin:0 auto;
  width:80%
}
.background: url('https://api.iconify.design/fa-brands:facebook-messenger.svg') no-repeat center center / contain;
.s{
	
	border: 1px solid rgba(255, 255, 255, 0.3);
	float: left;
	left:100%;
	border-left: none;
	border-right: none;
	margin-bottom: -1rem;
	width: -webkit-fill-available;

}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.social-btn>i, .social-btn>i::before {
    line-height: 34px;
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.size-change {
    margin-right: 34px;
    width: 47%;
	height: 197px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
	text-align:center;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}




.homeMainSectionContainer h3{
	display: block;
    width: 100%;
    text-align: center;
    margin: 25px 0 10px;
    font-size: 18px;
    line-height: 26px;
    color: #1c2736;
}

.homeMainSectionContainer p{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    opacity: .5;
    color: #191919;
}



.downloadSection{
	padding-bottom: 3rem;
	background:#165FAB;
}


.downloadSec h2{
    font-size: 36px;
    line-height: 1.5;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}

.downloadSec p{
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.downloadImageSection{
	display:inline-block;
}

.downloadSecBlockLeftSide, .downloadSecBlockRightSide{
	display:flex;
}

.downloadImageSectionBlock{
	display:inline-block;
	margin-top: 1rem;
    margin-left: 2rem;
}

.downloadAndroidApp i{
	font-size: 24px;
    color: #fff;
	margin-left: 0.4rem;
}

.downloadAndroidApp span, .downloadIosApp span{
	margin-left: 8px;
    vertical-align: top;
    margin-top: 5px;
    display: inline-block;
    color: #fff;
}

.downloadIosApp img{
	width: 24px;
    height: 24px;
}

.mobileIcon{
	width: 80px;
    height: 80px;
	    margin-left: 140px;
}

.downloadSecBlock{
	margin-top:6rem;
}

.footerSectionBlock{
	background: #fff;
	padding-top: 4rem;
    padding-bottom: 4rem;
}

.cmpLogo img{
	width: 38%;
}
.navbar-nav>li>a {
   text-decoration: none;
   font-weight: 0;
   font-size: 1.7rem;
}
.cmpLogo p{
	margin-top: 2rem;
	font-size: 14px;
    line-height: 1.4;
    padding-right: 20px;
    color: #165FAB;
	display: inline-block;
	
}


.dropbtn {
    background-color: transparent;
    color: #165FAB;
    padding: 1rem;
    font-size: 16px;
    border: 1px solid #165FAB;
	border-radius:4px;
	width: 160px;
}

.dropdown {
	
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #165FAB;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}


.aboutSection{
	font-size: 14px;
    line-height: 20px;
	color: #165FAB;
	
	
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
}

.aboutUsSection{
	padding:0px;
}

.aboutUsSection li{
	list-style:none;
}

.footerSection{
	margin-bottom:4rem;
}

.aboutUsSection li a{
	color: #165FAB;
    font-size: 14px;
    cursor: pointer;
    line-height: 21px;
    display: inline-block;
    margin-bottom: 8px;
}

.aboutUsSection li a:hover{
	color: #165FAB;
	opacity: 1;
}

.socialIconSec i{
	font-size: 16px;
    font-style: normal;
	margin-right:1rem;
}

.socialIconSec i:hover{
	color: #165FAB;
}

.telephoneNumber span:nth-child(1){
	color: #165FAB;
    font-size: 1em;
    line-height: 24px;
}

.telephoneNumber span:nth-child(2){
	color: #165FAB;
	margin-left:1rem;
}

.title{
	color: #165FAB;
    font-size: 14px;
}

.text{
	color: #165FAB;
    font-size: 14px;
    cursor: pointer;
    line-height: 21px;
    display: inline-block;
	margin: 0 8px;
}

.text:hover{
	color: #165FAB;
}

.contactUsSection{
	font-size: 14px;
    line-height: 20px;
    color: #165FAB;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
}



.bannerWrapperBlock{

	width:100%;
	background:#f7f8fa;
    background-size: cover;
	height: 500px;
	margin-top: 0rem;
	padding-top: 12rem;
    
	
}
#a5
{
	color:  #165FAB;
	
}
.bannerHeader h2{
	color:  #165FAB;
	font-size: 2em;
    font-weight: lighter;
    height: 36px;

  font-stretch: normal;
  
	margin: 0;
}

.bannerHeader h1{
	height: 56px;
    font-size: 2.8em;
 font-weight:100;
    line-height: 1.56;
    letter-spacing: normal;
    color: #165FAB;
    margin-bottom: 42px;
	margin-top: 0;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #000;
}
.carousel-indicators li {
    display: inline-block;
    width: 25px;
    height: 5px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0009;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators {
    position: absolute;
    bottom: -40px;
    left: auto;
    right: 13px;
    z-index: 15;
    width: 11%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
}

.carousel-indicators .active {
    width: 30px;
	height: 5px;
    margin: 0;
	background-color: #fff;
	
}

.imageSections img{
	border: 2px solid rgba(255,255,255,.16);
    border-radius: 9px;
}


.navbar-inverse {
	padding-bottom: 0px;
    background-color:#165FAB;
   border-color:#165FAB;
	

    margin-bottom: 0px;
	border-radius: 0px;
	border-top:#165FAB;
	border-bottom: #165FAB;
	
}

.navigationSection{
	margin: 0 auto;
    width: 100%;
}

.loginSection{
	float: right;
	padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.loginBlock{
	
	padding: 0;
    display: inline-block;
    margin-right: 2rem;
}

.loginBlock li{
	list-style:none;
}

.loginBlock li a{
	color:#fff;
}

.loginBlock li a:hover{
	color:#5795F1;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
	padding: 1rem;
	font-size: 1.7rem;
	/* font: inherit; */
	
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
color:white;    
/*	color: #165FAB;*/
   background-color: transparent;
}
.signinBtn{
    background-color: #3e5173;
    font-size: 1em;
    text-align: center;
    padding: 5px 16px;
    border: 1px solid #3e5173;
    border-radius: 16px;
}

.signinBtn:hover{
    background-color: #3075ef;
}

.signinBtn a{
	color: #fff;
} 




.hamburgerIcon {
    display: none;
}

.hamburgerIcon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    border-radius: 0;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.hamburgerIcon span:nth-child(1) {
    top: 0;
    transform-origin: left center;
}

.hamburgerIcon span:nth-child(2) {
    top: 8px;
    transform-origin: left center;
}

.hamburgerIcon span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
}

.hamburgerIcon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
}

.hamburgerIcon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.hamburgerIcon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
}


.dropdownContainer{
	display:none;
	visibility:hidden;
}


.drop-nav{
	padding:0px;
}


.drop-nav li{
	list-style:none;
	/* padding: 1rem; */
	padding-top: 30px;
}


.drop-nav li a{
	font-size:1.4em;
	color:#165FAB;
}

.topNavigationSec{
	color:#165FAB;
	color:white;
	
	padding-right: 6rem;
	float:right;
	
	margin:0px;
	padding-top: 0rem;
	display: inline-block;
}

.topNavigationSec li{
	
	padding-left: 3.1rem;
	list-style:none;
	display: inline-block;
}

.topSec a{
	padding-left: 3rem;
	margin-right:1rem;
	font-size: 1em;
	line-height: 1.5;
	color:white;
  
}

.topSec a:hover{
	color:white;
	opacity:1;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.btn-primary {
	color:white;
 
    background-color:#165FAB;
   border-color:#165FAB;
}

.btn-primary:hover {
    background-color:#165FAB;
    border-color: #165FAB;
}

.socialTopIconSec{
	min-width: 0px;
}

.socialTopIconSec i{
	margin-right:.5rem;
}

.svgSection{
	background: #fff;
    padding: 80px 0;
}

.tableImg{
	width: 18px;
    height: 18px;
    cursor: pointer;
}

.table {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 1.5rem;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.tableValueSection:hover{
	cursor:pointer;
	background: rgba(87,149,241,.09);
}

.home-index{
	-webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
}

.home-index:hover {
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.home-index-percent{
	color:#fff;
	font-size: 1.2em;
    background: #165FAB;
    width: 44%;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 0.5rem;
}

.home-index-title{
	font-size: 1.4em;
    margin-top: 0rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
	color:#165FAB;
}

.home-index-price{
	color:#165FAB;
	font-size:1.4em;
}


.logoBlock{

	    padding-top: 5px;
    padding-bottom: 5px;
    
    float: left;
    margin-left: 7rem;
}

.logoBlockMob{
	float:left;
	margin-left:1.5rem;
	
}

.mobileResolutionNavigation{
	display:none;
}

.navbar-nav{
	font-size:1.2em;
	padding-top: 20px;
    padding-bottom: 20px;
	
}
.nav__label:after {
	background-image: url(../img/arrow-down-blue.6b9785bb.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	content: " ";
	display: inline-block;
	height: .5em;
	width: 1em
}
@media(min-width:75em) {
	.nav__label--rounded {
	border: 1px solid #d3d7e1;
		border-radius: 24px
	}
	.nav__label--rounded {
	padding: 1px 2px;
    margin-top: 8px;
	    margin-left: 83px;
	}
}
@media only screen and (max-width: 1193px) and (min-width: 411px) and (orientation: landscape)
{
	.nav__label--rounded {
	margin-top: 12px;
    margin-left: 16px;
	
	}
}
.dropdown__list{
	z-index:999;
}


 @media(min-width:75em) {
	 .dropdown__link--documents {
		padding: 15px 0;
		position: relative
	}
.dropdown__link--documents:hover .dropdown__list {
		display: grid;
		grid-template-columns: repeat(3, 195px)
	}
	 .dropdown__link--documents .dropdown__list {
		background: #fff;
		border-radius: 5px;
		bottom: 0;
		box-shadow: 0 50px 30px 0 rgba(74, 74, 74, .08);
		display: none;
		position: absolute;
		right: 0;
		transform: translateY(100%)
	}
	 .dropdown__link--documents .dropdown__list:after {
		background: url(../images/menu-rectangle.88e8495d.svg) no-repeat;
		background-size: 100% 100%;
		content: "";
		height: 19px;
		position: absolute;
		right: 29px;
		top: -9px;
		width: 19px;
		z-index: -1
	}
.dropdown__link--documents .dropdown__item:hover {
		background-color: #f7f8fa
	}
 .dropdown__link--documents .dropdown__item:first-child {
		border-top-left-radius: 5px
	}
 .dropdown__link--documents .dropdown__item:nth-child(3) {
		border-top-right-radius: 5px
	}
 .dropdown__link--documents .dropdown__item:nth-child(4) {
		border-bottom-left-radius: 5px
	}
	 .dropdown__link--documents .dropdown__item:nth-child(6) {
		border-bottom-right-radius: 5px
	}
	 .dropdown__link--documents .dropdown__image {
		display: inline-block;
		width: 35px
	}
 .dropdown__link--documents .dropdown__link {
		font-size: 12px;
		font-size: .75rem;
		align-items: center;
		color: #000;
		display: flex;
		justify-content: center;
		padding: 47px 30px
	}
	 .dropdown__link--documents .dropdown__label {
		padding: 12px
	}
}


.header__nav .nav__dropdown .dropdown__link,


@media(max-width:74.99em) {
	 .nav__dropdown .dropdown__link,
.nav__label,
.nav__link {
		font-size: 14px;
		font-size: .875rem;
		line-height: 30px;
		min-height: 30px;
		padding: 0 15%
	}
}

 .nav__dropdown {
	display: block
}

@media(min-width:75em) {
.nav__dropdown {
		display: inline-block
	}
}

@media(min-width:75em) {
 .nav__dropdown:hover.nav__dropdown--documents .dropdown__list {
		display: grid
	}
 .nav__dropdown:hover .dropdown__list {
		display: block
	}
}

@media(max-width:74.99em) {
	 .nav__dropdown.is-active>.nav__label:after {
		-webkit-transform: rotate(180deg) translateY(50%);
		-moz-transform: rotate(180deg) translateY(50%);
		-ms-transform: rotate(180deg) translateY(50%);
		-o-transform: rotate(180deg) translateY(50%);
		transform: rotate(180deg) translateY(50%)
	}
	 .nav__dropdown.is-active .dropdown__list {
		display: block
	}
}

.nav__dropdown .dropdown__list {
	display: none
}

@media(max-width:74.99em) {
.nav__dropdown .dropdown__list {
		background-color: rgba(211, 215, 225, .1);
		padding-bottom: 30px;
		padding-top: 10px
	}
}

@media(min-width:75em) {
 .nav__dropdown .dropdown__list {
		position: absolute
	}
}

@media(max-width:74.99em) {
 .nav__dropdown .dropdown__image {
		display: none
	}
}

@media(min-width:75em) {
	 .nav__dropdown--documents {
		padding: 0px 0;
		position: relative
	}
 .nav__dropdown--documents:hover .dropdown__list {
		display: grid;
		grid-template-columns: repeat(3, 195px)
	}
 .nav__dropdown--documents .dropdown__list {
	    background: #fff;
    border-radius: 15px;
    bottom: 0;
    box-shadow: 0 106px 30px 0 rgba(74, 74, 74, .08);
    display: none;
    position: absolute;
    right: 0;
    color:#fff;
    opacity: 511.5;
    filter: alpha(opacity=60);
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transform: translateY(100%);
	}
	 .nav__dropdown--documents .dropdown__list:after {
		background: url(../img/menu-rectangle.88e8495d.svg) no-repeat;
		background-size: 100% 100%;
		content: "";
		height: 19px;
		position: absolute;
		right: 29px;
		top: -9px;
		width: 19px;
		z-index: -1
	}


	 .nav__dropdown--documents .dropdown__item:hover {
		background-color: #f7f8fa
	}
 .nav__dropdown--documents .dropdown__item:first-child {
		border-top-left-radius: 5px
	}
.nav__dropdown--documents .dropdown__item:nth-child(3) {
		border-top-right-radius: 5px
	}
	 .nav__dropdown--documents .dropdown__item:nth-child(4) {
		border-bottom-left-radius: 5px
	}
	.nav__dropdown--documents .dropdown__item:nth-child(6) {
		border-bottom-right-radius: 5px
	}
	.nav__dropdown--documents .dropdown__image {
		display: inline-block;
		width: 35px;
		height: 81px;
	}
	
 .nav__dropdown--documents .dropdown__link {
		
		
		font-size: .75rem;
	
		color: #000;
		display: flex;
	
		justify-content: center;
		    padding: 13px 87px;
	}
	 .nav__dropdown--documents .dropdown__label {
		padding: 12px
	}
}

 .nav__dropdown--languages .nav__label {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center
}

@media(max-width:74.99em) {
.nav__dropdown--languages .nav__label {
		display: none
	}
}

@media(min-width:75em) {
 .nav__dropdown--languages .nav__label {
		padding-right: 9px
	}
}

/*<!--new navli -->*/
.navbar-nav>li
{
	padding-right: 3rem;}

.fiatImage{
	width:92%;
}

.faitHeader{
	margin-bottom: 2rem;
    font-size: 2.5em;
    color: white;
}

.bannerHeader button{
	border-radius: 22px;
    background-color: #5795f1;
    border: #5795f1;
    padding: 1.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
}

.bannerHeader p{
	font-size: 1.2em;
    margin-bottom: 2rem;
    color: white;
}

.fiatthirdSection{
	width: 90%;
    margin: 0 auto;
}

.fiatSec{
	padding: 8rem;
}

.fiatBlockSec{
	padding: 8rem;
	background-color: rgba(230,234,240,.25);
}

.fiatBloack{
	text-align:center;
}

.fiatBloack h4{
	font-size: 1.65em;
    color: rgba(0,0,0,.85);
}

.fiatBloack p{
	font-size: 1.2em;
    color: rgba(0,0,0,.43);
}

.fiatFourthSection{
	background: #165FAB;
	padding: 3rem;
}

.fiatWorldLeadDigital{
	padding-left: 12rem;
}

.fiatWorldLeadDigital h1{
	color: #fff;
}

.fiatWorldLeadDigital p{
	color: #fff;
	font-size: 1.4em;
}

.fiatBlockBuuton button{
	border-radius: 22px;
    background-color: #fff;
    border: #5795f1;
    padding: 1.5rem;
    text-align: center;
    color: #165FAB;
    font-size: 1.2em;
	margin-top: 4rem;
}

.bannerWrapperBlockFiat{
	/* background: rgba(0, 0, 0, 0) url("../img/download (1).png") no-repeat; */
	background:#ffffff;
    background-size: cover;
	height: 500px;
	margin-top: 0rem;
	padding-top: 12rem;
    padding-left: 9rem;
	/* width:100vh; */
}

.selected{
	color:#fff !important;
	border-bottom:2px solid #fff;
}

.algorithmHeader{
	text-align:center;
}

.algorithmParagraph{
	width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-size: 1.2em;
}



a:hover{
	text-decoration:none;
}

a:focus {
    /* outline: 5px auto -webkit-focus-ring-color; */
    outline-offset: -2px;
    text-decoration: none;
}


@media only screen and (min-width: 320px) and (max-width: 927px) and (orientation: portrait) {
	.fiatImage {
		margin-top: 3rem;
	}
	.size-change1 {
		margin-right: 0;
	   width: 100%;
	   margin-bottom: 18px;
   }
   .navbarwhite
	{
		display: none;
	}
   .form-control-plaintext {
    width: 25rem;
    height: 48px;
    margin-bottom: 24px;
    padding: 0 12px;
    border: none;
    border-radius: 0 !important;
    background-color: #165FAB;
    border-bottom: 1px solid white;
    color: white !important;
    font-size: 18px;
}
	.bannerWrapperBlockFiat{
	    padding-top: 2rem;
		padding-left: 2rem;
		height: 465px;
	}
	.mobileResolutionNavigation{
		display:block;
	}
	.dropdownContainer{
		text-align: center;
		display: none;
		visibility: visible;
		position: relative;
		z-index: 999;
		top: 3.em;
		
		background-color: #165FAB;
		height: 100vh;
		/* height: calc(100% - 4rem) !important; */
	}
	
	.hamburgerIcon {
        display: block!important;
		width: 30px;
		height: 20px;
		float: right;
		transform: rotate(180deg);
		margin-right: 2rem;
		/* margin-top: 1.8rem; */
		margin-top: 12px;
    }
	.navigationSection{
		display:none;
	}
	
	.imageSliderSection{
		display:none;
	}
	.bannerHeader h2 {
		font-size: 1.5em;
	}
	.bannerHeader h1 {
		font-size: 2em;
		line-height: 30px;
		color:   #165FAB;
		margin-top: 3rem;
	}
	.bannerWrapperBlock {
	
		height: 380px;
	}
	.footerSec{
		margin-bottom:4rem;
	}
	.downloadSecBlockLeftSide, .downloadSecBlockRightSide {
		display: block;
		margin-bottom:3rem;
		text-align: center;
	}
	.mobileIcon {
		margin-left: 0px;
	}
	.footerSectionBlock {
		padding-left: 0;
	}
	.contactUsSection {
		display: block;
	}
	.topNavigationSec{
		display:none;
	}
	.svgFirstSec{
		/* text-align:left; */
		margin-bottom: 4rem;
	}
	.fiatSec {
		padding: 0rem;
		margin-top: 4rem;
		margin-bottom:4rem;
	}
	.fiatWorldLeadDigital {
		padding-left: 0rem;
		text-align: center;
	}
	.fiatBlockBuuton{
		text-align:center;
	}
	.fiatWorldLeadDigital h1 {
		font-size: 2em;
	}
	.faitHeader {
		font-size: 1.8em;
	}
	.algorithmParagraph {
		width: 95%;
		margin:0 auto;
		margin-bottom:4rem;
		text-align:center;
	}
	.fiatBlockSec {
		padding: 0rem;
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.xssmalldevice{
		text-align: center;
	}
}

@media only screen and (min-width: 320px) and (max-width: 927px) and (orientation: landscape) {
	.algorithmParagraph {
		width: 95%;
		margin:0 auto;
		margin-bottom:4rem;
		text-align:center;
	}


	.navbarwhite
	{
		display: none;
	}
	.size-change1 {
		 margin-right: 0;
		width: 100%;
		margin-bottom: 18px;
	}
	.xssmalldevice{
		text-align: center;
	}
	.form-control-plaintext {
		width: 25rem;
		height: 48px;
		margin-bottom: 24px;
		padding: 0 12px;
		border: none;
		border-radius: 0 !important;
		background-color: #165FAB;
		border-bottom: 1px solid white;
		color: white !important;
		font-size: 18px;
	}
	.fiatBlockSec {
		padding: 0rem;
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.fiatWorldLeadDigital h1 {
		font-size: 2em;
	}
	.fiatImage {
		margin-top: 3rem;
	}
	.bannerWrapperBlockFiat{
	    padding-top: 2rem;
		padding-left: 2rem;
		height: 465px;
	}
	.svgFirstSec{
		/* text-align:left; */
		margin-bottom: 4rem;
	}
	.home-index-percent {
		width: 22%;
	}
	
	.topNavigationSec{
		display:none;
	}
	.mobileResolutionNavigation{
		display:block;
	}
	.dropdownContainer{
		overflow: scroll;
		text-align: center;
		display: none;
		visibility: visible;
		position: relative;
		z-index: 999;
		top: 3.em;
		background-color: #165FAB;
		height: calc(100% - 4rem) !important;
	}
	
	.hamburgerIcon {
        display: block!important;
		width: 30px;
		height: 20px;
		float: right;
		transform: rotate(180deg);
		margin-right: 2rem;
	    margin-top: 28px;
    }
	.navigationSection{
		display:none;
	}
	.carousel-indicators {
		width: 25%;
	}
	.bannerWrapperBlock {
	
		height: 320px;
		padding-top: 8rem;
	}
	.bannerHeader h2 {
		font-size: 1.5em;
	}
	.bannerHeader h1 {
		font-size: 2em;
		line-height: 30px;
		color:  #165FAB;
		margin-top: 3rem;
		margin: 0;
	}
	.contactUsSection {
		display: block;
	}
	.footerSec{
		margin-bottom:4rem;
	}
	.downloadSecBlockLeftSide, .downloadSecBlockRightSide {
		display: block;
		margin-bottom:3rem;
	}
	.footerSectionBlock {
		padding-left: 0;
	}
	.fiatWorldLeadDigital {
		padding-left: 0rem;
		text-align: center;
	}
	.fiatBlockBuuton{
		text-align:center;
	}
	.logoBlock {
		margin-top: 1.5rem;
		

		
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.algorithmParagraph {
		width: 90%;
		margin:0 auto;
		text-align:center;
		margin-bottom:4rem;
	}
	
	.navbar-nav2>li>a


	{
		padding-left: 35px;
	}

	

	.fiatBlockSec {
		padding: 0rem;
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.imageSliderSection
	{
		padding-top: 38px;
	}
	.fiatWorldLeadDigital {
		padding-left: 0rem;
		text-align: center;
	}
	.fiatBlockBuuton{
		text-align:center;
	}
	.svgFirstSec{
		/* text-align:left; */
		margin-bottom: 4rem;
	}
	.topNavigationSec{
		display:none;
	}
	
	.navigationSection {
		margin: 0 auto;
		width: 100%;
	}
	.bannerWrapperBlock {
		height: 400px;
		margin-top: 0rem;
		padding-top: 8rem;
		padding-left: 0rem;
		/* width: 100vh; */
	}
	.carousel-indicators {
		width: 16%;
	}
	.contactUsSection {
		display: block;
	
	}
	.footerSec{
		margin-bottom:4rem;
	}
	.mobileIcon {
		margin-left: 0px;
	}
	.footerSectionBlock {
		padding-left: 0;
	}
	.bannerHeader h1 {
		text-align: center;
	}
	.bannerHeader h2 {
		text-align: center;
	}
	.topFirstNavigation{
	display:none;
	}
	.loginSection {
	
	}
	
	.fiatSec {
		padding: 0rem;
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	.fiatthirdSection {
		width: 100%;
		margin: 0 auto;
	}
	.fiatImage {
		margin-top: 3rem;
	}
	.bannerWrapperBlockFiat{
	    padding-top: 4rem;
		padding-left: 2rem;
		height: 400px;
	}
	.faitHeader {
		font-size: 1.5em;
	}
	.logoBlock {
		
		float: left;
		margin-left: 0;
	}
	
	.loginBlock
	{
		  margin-right: 0;
	}
	.navbar-nav>li
	{
		padding-right: 0.2rem;
		font-size:0.8em;
	}
	.size-change1 {
	    margin-bottom: 18px;
    text-align: center;
    width: 100%;
	
	}
	
	.text-md{
		text-align: center;
	}
}

@media only screen and (min-width: 600px) and (max-width: 180px) {


	.topFirstNavigation{
		
		display:flex;
		justify-content:left;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.faitHeader {
		font-size: 1.8em;
	}
	.navbar-nav2>li>a


	{
		padding-left: 35px;
	}







	.navbar-nav>li {
		padding-right: 1rem;
	}

	.navbar-nav {
		font-size: 1em;
	}
	.loginSection {
		
	}
	.logoBlock {
	
	}
	.topFirstNavigation{
		
		display:none;
	}

	.bannerHeader h1 {
		text-align: center;
	}
	.bannerHeader h2 {
		text-align: center;
	}
	.bannerWrapperBlock {
		height: 400px;
		padding-top: 8rem;
		
		/* width: 100vh; */
	}
	
	
	.size-change1 {
		margin-right: 27px;
		width: 100%;
	
	}
	
}



@media only screen and (min-width: 1025px) and (max-width: 1199px) {
	.topFirstNavigation{
		
		display:none;
	}
	
	.bannerHeader h1 {
		text-align: center;
	}
	.bannerHeader h2 {
		text-align: center;
	}
	.bannerWrapperBlock {
		height: 400px;
		padding-top: 8rem;
	
		/* width: 100vh; */
	}
	
	.loginSection
	{
		padding-right: 7px;
	}
	.loginBlock
	{
		margin-right: 0;
	
	}
	.logoBlock
	{   
		
		margin-left: 0 ;
	}
	.size-change1 {
	    margin-right: 27px;
    margin-bottom: 33px;
    width: 100%;
	
	}
}



@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.navigationSection {
		margin: 0 auto;
		width: 100%;
	}
	.loginSection
	{
		padding-right: 7px;
	}
	.bannerWrapperBlock {
		margin-top: 0rem;
		padding-top: 12rem;
		
		
		/* width: 100vh; */
	}
	
}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
	.navigationSection {
		margin: 0 auto;
		width: 100%;
	}
	
}


@media only screen and (min-width: 411px) and (max-width: 1110px) and (orientation: landscape) {
	
	.loginSection
	{
		margin-right: 0rem;
	}
}


@media only screen and (min-width: 1600px){
	.navbar-nav {
		font-size: 29px;
	
	}
	

	
}



@media only screen and (min-width: 0px) and (max-width: 1023px) {
.displaypropertie
{
	 display: block; 
}
.displaypropertie1
{
	 display: none; 
}

}
@media only screen and (min-width: 0px) and (max-width: 320px)
{
.navbarwhite
	{
		display: none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px)

{
	.loginSection
	{
		float: right;
		
	}
	.logoBlock
	{
		margin-left: 0;
	}
	.loginSection
	{
		padding-right: 0;
	}
}
@media only screen and (min-width: 300px) and (max-width: 1240px)  {
	.aliment1 {
		padding-left: 0;
		padding-top: 18px;
		padding-bottom: 47px;
	}
	.aliment {
		padding-left: 0;
		padding-top: 18px;
		padding-bottom: 47px;
	}
	.social-btn
	{
		margin: 0 -18px 6px 0;
	}
	.styleing4
	{
		text-align: center;
	}
	.styleing3
	{
		text-align: center;
	}
	.socail-bar1
	{
		text-align: center !important;
	}
	.buttonsty
	{
		display: flex;
		margin: auto !important;
	}
	.form-control-plaintext{
		text-align: center;
	}
	.styleing1
	{
		text-align: center;
	}
	.form-group
	{
		text-align: center;
	}
	.styleing
	{
		text-align: center;
	}
	.text-left
	{
		text-align: center;
	}
	.form-inline .form-group
{
	text-align: center
}
.form-inline1
{
	text-align: center;
}
.size-change1 {
	margin-right: 27px;
margin-bottom: 33px;
width: 100%;

}
	}
	@media only screen and (min-width: 500px) and (max-width: 926px) 
	{
	.hamburgerIcon {
        display: block!important;
		width: 30px;
		height: 20px;
		float: right;
		transform: rotate(180deg);
		margin-right: 2rem;
	    margin-top: 34px;
	}
	
}

@media only screen and (min-width: 927px) and (max-width: 933px) 
	{
.loginBlock
{
    margin-right: 1rem;
}
	}